<!-- Modal -->
<div class="modal fade" id="privacidadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">AVISO DE PRIVACIDAD</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <p><strong>HC INTELIGENCIA EN PERSONAL S.A. DE C.V.</strong> con domicilio en CUADRANTEDE SAN FRANCISCO #25, BARRIO SAN FRANCISCO, COYOACÁN, CDMX, CP 04320, le informa que los datos personales que reciba deben ser tratados conforme al Aviso
                    de Privacidad Integral de
                    <strong>HC INTELIGENCIA EN PERSONAL S.A. DE C.V.</strong>, puesto a disposición del titular previo a la captación de los datos; asimismo la recepción de datos personales en <strong>HC INTELIGENCIA EN PERSONAL S.A. DE C.V.</strong>,
                    se efectúa en el entendido de que usted obtuvo previamente el consentimiento de los titulares de los mismos. </p>

                <p>El tratamiento de los datos personales se realiza para el cumplimiento de obligaciones, gestiones, proveerle de servicios, con fines de mercadotecnia, publicidad o prospección comercial y de conformidad con el Aviso de Privacidad Integral
                    que se encuentra disponible en la página de Internet <strong>www.hcinteligencia.com.mx</strong> en la sección aviso de privacidad.</p>
                <br>
                <p>La información contenida en este mensaje es confidencial, restringida y está destinada únicamente para el uso de la persona a quien se dirige, si usted no es el destinatario legítimo del mismo, deberá reportarlo al remitente del correo
                    y borrarlo inmediatamente. </p>

                <p> Por lo tanto, queda prohibido su uso a persona ajena al destinatario indicado y/o para fines diferentes a los que se expresan en este mensaje. Por lo que, cualquier uso distinto al expresamente autorizado, o por persona distinta al destinatario,
                    está estrictamente prohibido; de tal forma que, <strong>HC INTELIGENCIA EN PERSONAL S.A. DE C.V.</strong>, no se hace responsable de dichos usos y se reserva cualquier tipo de acción legal que pudiera derivar contra quien, o quienes,
                    resulten responsables de su divulgación, reproducción o uso, sin previa autorización por escrito por parte de <strong>HC INTELIGENCIA EN PERSONAL S.A. DE C.V.</strong></p>
                <br>
                <p class="text-center"> Atentamente </p>
                <p class="text-center"> HC INTELIGENCIA EN PERSONAL S.A. DE C.V. </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" style="display:block; margin:0 auto;" data-dismiss="modal">Acepto</button>
            </div>
        </div>
    </div>
</div>

<footer class="footer transition">
    <div class="footer-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12 social-media-container">
                    <ul class="social-media">
                        <li><a href="https://www.facebook.com/HcInteligenciaEnPersonal/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="https://twitter.com/hc_inteligencia" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/hcinteligencia-enpersonal" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <!--li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li-->

                    </ul>
                    <!-- end social-media -->
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 contact-container">
                    <address>
            <i class="fa fa-map-marker" aria-hidden="true"></i> Cuadrante de San Francisco #25 <small>Coyoacán, CDMX, C.P. 04320</small>
            </address>
                </div>
                <!-- end col-6 -->
                <div class="col-md-3 col-sm-6 col-xs-12 contact-container">
                    <address>
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <a style="text-decoration:none; color:#FFFFFF;" href="tel:5524542175"> +52 (55)2454 2175</a><small>Tienes dudas? Llámanos.</small>
                    </address>
                </div>
                <!-- end col-3 -->

                <!-- end col-3 -->

            </div>
            <!-- end row -->

        </div>

        <!-- end container -->
    </div>

    <div class="row" style="width: 100% !important; padding: 0 !important; margin: 0 !important;">
        <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3">
            <img class="img-fluid logo-footer" src="assets/images/HC-blanco.png">
        </div>
    </div>

    <div class="row" style="width: 100% !important; padding: 0 !important; margin: 0 !important;">
        <div class="col-md-12 col-sm-6 col-xs-12" style="padding-top: 30px; text-align: center;">
            <a href="#" data-toggle="modal" data-target="#privacidadModal" style="text-decoration: none !important; color: #FFFFFF;">Aviso de Privacidad</a>
        </div>

    </div>
    <!-- end footer-bar -->

    <div class="sub-footer">
        <div class="container">
            <div class="row">

                <div class="col-md-6 col-sm-6 col-xs-12">Copyright © 2021 , HC Inteligencia en Personal</div>
                <!-- end col-6 -->
                <div class="col-md-6 col-sm-6 col-xs-12 text-right">Powered by <a href="#">RocketCodeOne</a></div>
                <!-- end col-6 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end sub-footer -->
</footer>
<!-- end footer -->
<a href="#" class="scrollup"><i class="fa fa-long-arrow-up" aria-hidden="true"></i></a>