<div class="preloader">
    <svg class="spinner" id="pageloader_anime" width="32px" height="32px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
    <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
    </svg> </div>
<!-- end preloader -->

<!-- end search-box -->
<header class="header">
    <nav class="navbar navbar-default navbar-fixed-top transition">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 hidden-xs">
                        <!--ul class="top-menu">
                            <li><a href="our-offices.html">Option 1</a></li>
                            <li><a href="career.html">Option 2</a></li>
                            <li><a href="on-press.html">Option 3</a></li>
                            <li><a href="support.html">Option 4</a></li>
                        </ul-->
                        <!-- end top-menu -->
                    </div>
                    <!-- end col-6 -->
                    <div class="col-md-6 col-sm-6 col-xs-12">

                        <!-- end social-text -->
                        <ul class="social-media">
                            <li><a><span class="social-text">Conecta con Nosotros:</span></a></li>
                            <li><a href="https://www.facebook.com/HcInteligenciaEnPersonal/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="https://twitter.com/hc_inteligencia" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/hcinteligencia-enpersonal" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <!--li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li-->

                        </ul>
                        <!-- end social-media -->

                    </div>
                    <!-- end col-6 -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end top-bar -->
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle toggle-menu menu-left push-body" data-toggle="collapse" data-target="#collapse-nav"> 
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                    <img src="assets/images/logo_hc.png" alt="Image" class="logo-light">
                    <img src="assets/images/logo_hc.png" alt="Image" class="logo-dark"><span class="since">25<br>
          <small>AÑOS</small></span>
                </a>
            </div>
            <div class="collapse navbar-collapse cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="collapse-nav">
                <!--ul class="top-menu visible-xs">
                    <li><a href="our-offices.html">Opcion 1</a></li>
                    <li><a href="career.html">Opcion 2</a></li>
                    <li><a href="on-press.html">Opcion 3</a></li>
                    <li><a href="support.html">Opcion 4</a></li>
                </ul-->
                <!-- end top-menu -->
                <ul class="nav navbar-nav">
                    <li><a routerLink="/home">INICIO</a></li>
                    <li><a routerLink="/home" fragment="servicios">SERVICIOS</a></li>
                    <li><a routerLink="/home" fragment="hacemos">COMO LO HACEMOS</a></li>
                    <li><a routerLink="/home" fragment="testimonios">TESTIMONIOS</a></li>
                    <li><a routerLink="/home" fragment="contacto">CONTACTO</a></li>
                </ul>
                <!-- end navbar-nav -->
                <a routerLink="/home" fragment="contacto" class="quote-btn">INICIAR YA</a>
                <span class="phone"><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:5524542175"> +52 (55)2454 2175</a></span>
                <!-- end phone -->
                <!--div class="search"><i class="fa fa-search" aria-hidden="true"></i></div-->
                <!-- end search -->
            </div>
            <!-- end navbar-collapse -->
        </div>
        <!-- end container -->
    </nav>

    <app-main-carrusel></app-main-carrusel>

</header>