<p>flaticons works!</p>

<style>
    i {
        padding: 5px;
        font-size: 20px;
    }
</style>
<br> 1
<i class="flaticon-001-wallet-1" aria-hidden="true"></i>
<i class="flaticon-002-piggy-bank-3" aria-hidden="true"></i>
<i class="flaticon-003-piggy-bank-2" aria-hidden="true"></i>
<i class="flaticon-004-piggy-bank-1" aria-hidden="true"></i>
<i class="flaticon-005-piggy-bank" aria-hidden="true"></i>
<i class="flaticon-006-calendar" aria-hidden="true"></i>
<i class="flaticon-007-user-1" aria-hidden="true"></i>
<i class="flaticon-008-user" aria-hidden="true"></i>
<i class="flaticon-009-price" aria-hidden="true"></i>
<i class="flaticon-010-pie-chart" aria-hidden="true"></i>
<i class="flaticon-011-bitcoin-1" aria-hidden="true"></i>
<br> 2
<i class="flaticon-012-gold-ingots" aria-hidden="true"></i>
<i class="flaticon-013-placeholder" aria-hidden="true"></i>
<i class="flaticon-014-smartphone-3" aria-hidden="true"></i>
<i class="flaticon-015-smartphone-2" aria-hidden="true"></i>
<i class="flaticon-016-smartphone-1" aria-hidden="true"></i>
<i class="flaticon-017-laptop-1" aria-hidden="true"></i>
<i class="flaticon-018-laptop" aria-hidden="true"></i>
<i class="flaticon-019-credit-card-1" aria-hidden="true"></i>
<i class="flaticon-020-smartphone" aria-hidden="true"></i>
<br> 3
<i class="flaticon-021-safebox-1" aria-hidden="true"></i>
<i class="flaticon-022-pound-sterling-1" aria-hidden="true"></i>
<i class="flaticon-023-safebox" aria-hidden="true"></i>
<i class="flaticon-024-savings" aria-hidden="true"></i>
<i class="flaticon-025-money-bag-3" aria-hidden="true"></i>
<i class="flaticon-026-briefcase-1" aria-hidden="true"></i>
<i class="flaticon-027-briefcase" aria-hidden="true"></i>
<i class="flaticon-028-dollar-4" aria-hidden="true"></i>
<i class="flaticon-029-binder" aria-hidden="true"></i>
<br> 4
<i class="flaticon-030-bookshelf" aria-hidden="true"></i>
<i class="flaticon-031-desk-1" aria-hidden="true"></i>
<i class="flaticon-032-desk" aria-hidden="true"></i>
<i class="flaticon-033-euro-2" aria-hidden="true"></i>
<i class="flaticon-034-computer" aria-hidden="true"></i>
<i class="flaticon-035-dollar-3" aria-hidden="true"></i>
<i class="flaticon-036-dollar-2" aria-hidden="true"></i>
<i class="flaticon-037-euro-1" aria-hidden="true"></i>
<i class="flaticon-038-money-3" aria-hidden="true"></i>
<br> 5
<i class="flaticon-039-exchange-10" aria-hidden="true"></i>
<i class="flaticon-040-exchange-9" aria-hidden="true"></i>
<i class="flaticon-041-file-5" aria-hidden="true"></i>
<i class="flaticon-042-file-4" aria-hidden="true"></i>
<i class="flaticon-043-file-3" aria-hidden="true"></i>
<i class="flaticon-044-dollar-1" aria-hidden="true"></i>
<i class="flaticon-045-contract" aria-hidden="true"></i>
<i class="flaticon-046-file-2" aria-hidden="true"></i>
<i class="flaticon-047-file-1" aria-hidden="true"></i>
<br> 6
<i class="flaticon-048-file" aria-hidden="true"></i>
<i class="flaticon-049-telephone-1" aria-hidden="true"></i>
<i class="flaticon-050-telephone" aria-hidden="true"></i>
<i class="flaticon-051-house" aria-hidden="true"></i>
<i class="flaticon-052-coin" aria-hidden="true"></i>
<i class="flaticon-053-clock" aria-hidden="true"></i>
<i class="flaticon-054-analytics-4" aria-hidden="true"></i>
<i class="flaticon-055-yen-1" aria-hidden="true"></i>
<i class="flaticon-056-analytics-3" aria-hidden="true"></i>
<br> 7
<i class="flaticon-057-analytics-2" aria-hidden="true"></i>
<i class="flaticon-058-analytics-1" aria-hidden="true"></i>
<i class="flaticon-059-currency" aria-hidden="true"></i>
<i class="flaticon-060-analytics" aria-hidden="true"></i>
<i class="flaticon-061-exchange-8" aria-hidden="true"></i>
<i class="flaticon-062-exchange-7" aria-hidden="true"></i>
<i class="flaticon-063-exchange-6" aria-hidden="true"></i>
<i class="flaticon-064-exchange-5" aria-hidden="true"></i>
<i class="flaticon-065-exchange-4" aria-hidden="true"></i>
<br> 8
<i class="flaticon-066-bitcoin" aria-hidden="true"></i>
<i class="flaticon-067-exchange-3" aria-hidden="true"></i>
<i class="flaticon-068-exchange-2" aria-hidden="true"></i>
<i class="flaticon-069-exchange-1" aria-hidden="true"></i>
<i class="flaticon-070-exchange" aria-hidden="true"></i>
<i class="flaticon-071-bank-2" aria-hidden="true"></i>
<i class="flaticon-072-bank-1" aria-hidden="true"></i>
<i class="flaticon-073-bank" aria-hidden="true"></i>
<i class="flaticon-074-cargo-truck" aria-hidden="true"></i>
<br> 9
<i class="flaticon-075-balance" aria-hidden="true"></i>
<i class="flaticon-076-scale" aria-hidden="true"></i>
<i class="flaticon-077-pound-sterling" aria-hidden="true"></i>
<i class="flaticon-078-shopping-cart-7" aria-hidden="true"></i>
<i class="flaticon-079-shopping-cart-6" aria-hidden="true"></i>
<i class="flaticon-080-shopping-cart-5" aria-hidden="true"></i>
<i class="flaticon-081-shopping-cart-4" aria-hidden="true"></i>
<i class="flaticon-082-shopping-cart-3" aria-hidden="true"></i>
<i class="flaticon-083-shopping-cart-2" aria-hidden="true"></i>
<br> 10
<i class="flaticon-084-shopping-cart-1" aria-hidden="true"></i>
<i class="flaticon-085-shopping-cart" aria-hidden="true"></i>
<i class="flaticon-086-point-of-service" aria-hidden="true"></i>
<i class="flaticon-087-dollar" aria-hidden="true"></i>
<i class="flaticon-088-euro" aria-hidden="true"></i>
<i class="flaticon-089-money-2" aria-hidden="true"></i>
<i class="flaticon-090-credit-card" aria-hidden="true"></i>
<i class="flaticon-091-atm-1" aria-hidden="true"></i>
<i class="flaticon-092-atm" aria-hidden="true"></i>
<br> 11
<i class="flaticon-093-money-1" aria-hidden="true"></i>
<i class="flaticon-094-money-bag-2" aria-hidden="true"></i>
<i class="flaticon-095-money-bag-1" aria-hidden="true"></i>
<i class="flaticon-096-money-bag" aria-hidden="true"></i>
<i class="flaticon-097-coins" aria-hidden="true"></i>
<i class="flaticon-098-wallet" aria-hidden="true"></i>
<i class="flaticon-099-yen" aria-hidden="true"></i>
<i class="flaticon-100-money" aria-hidden="true"></i>
<br> 12
<i class="a1" aria-hidden="true"></i>